.Header {
  width: 100%;
  background-color: var(--background-lighter);
}

.Main {
  margin: 0 1em;
  width: 100%;
  flex-grow: 1;
}

.Navigation {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-lighter);
}

.NavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
  text-decoration: none;
}
.NavItem.NavItem__Active {
  color: var(--accent);
}
