:root {
  /* colors currently from gruvbox */
  --text: #fbf1c7;
  --background: #282828;
  --background-lighter: #3c3836;
  --primary: #458588;
  --accent: #d79921;
  --border-radius: 4px;

  font-family: Inter, system-ui, sans-serif;
  color: var(--text);
  background-color: var(--background);

  /* See https://www.w3.org/TR/WCAG21/#text-spacing */
  line-height: 1.5;

  /* See https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* See https://www.joshwcomeau.com/css/custom-css-reset#five-improve-text-rendering-6 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* See https://www.joshwcomeau.com/css/custom-css-reset/#seven-inherit-fonts-for-form-controls-8 */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.feather {
  width: 36px;
  height: 36px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
