:root {
  --text: #d8fcfd;
  --background: #022021;
  --primary: #6febf8;
  --secondary: #603a49;
  --accent: #f5be37;

  font-family: Inter, system-ui, sans-serif;
  color: var(--text);
  background-color: var(--background);

  /* See https://www.w3.org/TR/WCAG21/#text-spacing */
  line-height: 1.5;

  /* See https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* See https://www.joshwcomeau.com/css/custom-css-reset#five-improve-text-rendering-6 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
